<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search page</title>
  <link href="./css/search.css" rel="stylesheet"></head>
  <body>
<section class="sidebar">
  <aside class="sidebar-logo">
    <div><img class="image" src="images/Logo.svg"></div>
  </aside>
  <aside class="sidebar-tools"><a class="sidebar-tools__item active"><img src="images/find.svg"></a><a class="sidebar-tools__item"><img src="images/user.svg"></a><a class="sidebar-tools__item" href="messenger.html"><img src="images/messages.svg"></a><a class="sidebar-tools__item"><img src="images/icon-3.svg"></a></aside>
</section>
    <section class="content">
<section class="navbar">
  <section class="navbar-menu">
    <div class="navbar-menu__item">Home</div>
    <div class="navbar-menu__item"><img src="images/vector.svg"></div>
    <div class="navbar-menu__item">My profile</div>
    <div class="navbar-menu__item"><img src="images/vector.svg"></div>
    <div class="navbar-menu__item">Result</div>
  </section>
  <section class="navbar-user">
    <div class="navbar-user__name">Faruh Bernandez</div><span class="navbar-user__avatar"><img src="images/shape.svg"></span>
  </section>
</section>
      <main>
        <div class="page">
          <form class="search">
            <div class="search-filters">
              <p class="search-filters__text">Location</p><img class="search-filters__location" src="images/Location.svg">
              <select class="search-filters__dropdown">
                <option></option>
              </select>
            </div>
            <div class="search-filters">
              <p class="search-filters__text">SEARCH</p>
              <input class="search-filters__dropdown" type="text" placeholder="Type...">
            </div>
            <div class="search-filters">
              <p class="search-filters__text">CATEGORY</p>
              <select class="search-filters__dropdown">
                <option>Subcategory</option>
              </select>
            </div>
            <div class="search-filters">
              <p class="search-filters__text">SERVICE</p>
              <select class="search-filters__dropdown">
                <option>3 services</option>
              </select>
            </div>
            <div class="search-filters">
              <p class="search-filters__text">PERIOD</p>
              <input class="search-filters__dropdown" placeholder="11/01/19 - 14/01/19">
            </div>
            <button class="search-filters__button">SEARCH</button>
          </form>
          <div class="results">
            <div class="category">
              <p class="category__text">show map</p>
              <div class="category__button">
                <input id="price" type="radio" name="category" value="by price">
                <label for="price">by price</label>
                <input id="rating" type="radio" name="category" value="by rating">
                <label for="rating">by rating</label>
              </div>
            </div>
            <div class="workers">
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/bronze.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/silver.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/silver.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
                            <article class="worker"><img class="worker__avatar" src="images/barry.svg" alt="">
                              <div class="info"><span class="info__name">Richard Thompson<img class="img__star" src="images/gold.svg"></span>
                                <div class="info__location"><img src="images/Location.svg" alt="">
                                  <p>Vancouver, Canada</p>
                                </div>
                                <div class="info__stack">
                                  <p class="inf">Stack:</p>
                                  <p> Python, Django, Sketch</p>
                                </div>
                                <div class="info__price">
                                  <p class="inf">Base Daily Rate:</p>
                                  <p> $ 1,200 USD</p>
                                </div>
                              </div>
                            </article>
            </div>
          </div>
        </div>
      </main>
    </section>
  <script type="text/javascript" src="bundles/search.js"></script></body>
</html>