<section class="navbar">
  <section class="navbar-menu">
    <div class="navbar-menu__item">Home</div>
    <div class="navbar-menu__item"><img src="./img/vector.svg"/></div>
    <div class="navbar-menu__item">Network</div>
  </section>
  <section class="navbar-user"><span class="navbar-user__avatar"><img class="image" src="./img/profile_image.svg"/></span>
    <div class="navbar-user__name">Sarah Freeman</div><span class="navbar-user__avatar"><img src="./img/shape.svg"/></span>
  </section>
</section>
