<section class="sidebar">
  <aside class="sidebar-logo">
    <div><img class="image" src="./img/logo.svg"/></div>
  </aside>
  <aside class="sidebar-tools"><span class="sidebar-tools__item"><img src="./img/Vector.svg"/></span><span class="sidebar-tools__item"><img src="./img/myprofile.svg"/></span><span class="sidebar-tools__item"><img src="./img/handyman-tools.svg"/></span><span class="sidebar-tools__item"><img src="./img/team-2.svg"/></span><span class="sidebar-tools__item active"><img src="./img/messages.svg"/></span></aside>
</section>